<div class="w-[70%] m-auto mt-4 p-4 bg-[#F1A6F2] rounded-lg">
  <form class="w-[90%]">
    <label for="title">Title</label> <br>
    <input type="text" name="title" [(ngModel)] ="title" placeholder="Type here" class="w-[100%] mt-2 mb-2 p-4 rounded-md" required> <br>
    <label for="url">URL</label> <br>
    <input type="text" name="url" [(ngModel)]="url" placeholder="Type url here" class="w-[100%] mt-2 mb-2 p-4 rounded-md" required> <br>

    <button (click)="onSubmit()" type="submit" class="w-[100%] bg-[#F624FF] p-2 rounded-md text-white">Submit</button>
  </form>
</div>
