<main class="container mx-auto flex flex-col h-screen">
  <header class="text-center h-20 flex items-center justify-center">
    <a [routerLink]="['/']">
      <h1 class="font-extrabold text-3xl">
        <span class="text-[#FA00FF]">HACKER</span>NEWS<span
          class="text-[#FA00FF]"
          >.</span
        >
      </h1>
    </a>
  </header>

  <section class="content flex-1 bg-slate-50 p-8 overflow-y-scroll">
    <router-outlet></router-outlet>
  </section>

  <footer
    class="bg-[#FA00FF] text-center h-20 flex items-center justify-center"
  >
    <h1 class="font-extrabold text-3xl">
      <span>HACKER</span>NEWS<span>.</span>
    </h1>
  </footer>
</main>
