<a
  href="{{ news.url }}"
  class="w-full bg-white p-5 rounded-2xl flex flex-col gap-4"
  *ngFor="let news of service.list"
>
  <div class="flex justify-between items-center">
    <h2 class="font-bold text-xl">{{ news.title }}</h2>
    <div class="flex justify-between items-center">
      <svg
        (click)="upvoteTopic($event, news._id, news.votes)"
        class="w-8"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path d="M13 12V20H11V12H4L12 4L20 12H13Z"></path>
      </svg>
      <p>&nbsp;{{ news.votes }}</p>
    </div>
  </div>

  <p class="">
    {{ news.body }}
  </p>
  <div class="text-slate-500 flex items-center">
    <svg class="w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path
        d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM13 12H17V14H11V7H13V12Z"
      ></path>
    </svg>
    <p>&nbsp;{{ news.date | dateConverter }}&nbsp;|&nbsp;</p>
    <a [routerLink]="['/news', news._id]"
      >{{ news.comments.length }} comments</a
    >
  </div>
</a>
